@font-face {
  font-family: "Qanelas";
  font-style: normal;
  font-display: swap;
  src: url("/src/assets/fonts/QanelasDEMO-Thin.otf") format("opentype");
}

@font-face {
  font-family: "Qanelas";
  font-style: normal;
  font-display: swap;
  src: url("/src/assets/fonts/QanelasDEMO-Black.otf") format("opentype");
}
